
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'ITC Benguiat';
}

body {
    background: rgb(14, 13, 13);
}

.container {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	width: 100%;
    overflow: hidden;
    height: 100vh;
    background: inherit;
}

.panel {
    display: flex;
	background-size: auto 100%;
	background-repeat: no-repeat;
	border-radius: 50px;
	color: white;
    text-shadow: 2px 5px 1px black;
	flex: 0.5;
	cursor: pointer;
	height: 80vh;
	position: relative;
	margin: 10px;
	transition: flex 0.7s cubic-bezier(0.05, 0.6, 0.4, 0.9);
    background-position: center !important;
    background-size: cover !important;
}

.panel h3 {
	opacity: 0;
	position: absolute;
	bottom: 20px;
	left: 75px;
	margin: 0;
}

.panel.active {
	flex: 5;
}

.panel.active h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
    font-size: 85px;
    text-transform: capitalize;
}

.panel1 {
    background: url(characters/dustin.png);
}

.panel2 {
    background: url(characters/eleven_11.png);
}

.panel3 {
    background: url(characters/hopper.png);
}

.panel4 {
    background: url(characters/eddie_munson.png);
}

.panel5 {
    background: url(characters/vecna.png);
}

.panel6 {
    background: url(characters/max.webp);
}

.panel7 {
    background: url(characters/lucas.webp);
}

.panel8 {
    background: url(characters/nancy.webp);
}

.panel9 {
    background: url(characters/mike.webp);
}

.panel10 {
    background: url(characters/will.webp);
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .panel {
        width: 100%;
        background-position: center;
    }

    .panel.active h3 {
        font-size: 45px;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
